@charset "utf-8";
/* CSS Document */

#vejrAPI {
	background-color: transparent;
	margin: 0 0 0 0;
}

.temp {
	display: block;
	float: left;
	width: 60px;
}

.temp p {
	font-size: 1.3rem;
}

.tempIcon {
	display: block;
	float: left;
	width: 50px
}

.tempIcon img {
	margin-top: -14px;
}

/* Hero Section startpoint */

#hero-section {
	height: 700px;
	background-color: lightcoral;
}

/*
#hero-section .hero-container {
height: 700px;
width: 100%;
}

#hero-section .hero-container img {
max-height: 100%;
max-width: 100%;
display: block;
}

*/

#hero-section .hero-container {
	height: 715px;
	overflow: hidden;
	background-size: cover;
	background-position: center;
	background-image: url('/assets/images/Beach-1.jpg');
}

#hero-section h1 {
	color: white;
	text-shadow: 2px 2px 5px #000;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	font-size: 3rem;
	font-weight: lighter;
	line-height: .1vw;
	word-spacing: .25em;
}

/* Hero Section endpoint */

/* Intro Section startpoint */

#intro-section-flex {
	width: 100%;
	height: auto;
	display: flex;
	scroll-behavior: smooth;
}

.intro-logo {
	display: block;
	background-image: url(../icons/aeble_logo.svg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 15vw;
	width: 50%;
	height: auto;
}

.intro-text {
	display: block;
	width: 50%;
	padding: 5vw;
}

.intro-text h1 {
	font-size: 2.1875rem;
	font-weight: lighter;
	margin: 0 0 20px 0;
	color: #2F361F;
}

.intro-text p {
	font-size: 1.375rem;
	margin: 15px 0;
	color: #2F361F;
}

.runde-ikoner {
	margin: 0 0 80px 0;
}

/* Intro Section endpoint */

/* Auto Scroll Down Button */

.main-scroll {
	display: inline-block;
	width: 55px;
	padding: 5px;
	text-align: center;
	position: relative;
	background-color: #feffe9;
	border-radius: 5px;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.main-scroll a {
	font-size: 35px;
}

/* Oplevelser Section startpoint */

#oplevelser-section {
	display: block;
	width: 100%;
	height: auto;
	margin: 0 auto;
	padding: 2.5vw 30vw;
	background-color: #8b9f43;
	text-align: center;
	color: #fff;
}

#oplevelser-section h1 {
	font-size: 1.875rem;
	font-weight: 100;
}

#oplevelser-section .title-line {
	width: 40%;
	height: 2px;
	background-color: #fff;
	margin: 5px auto 25px auto;
	;
}

#oplevelser-section p {
	margin: 25px 0 25px 0;
	font-size: 1.25rem;
	font-weight: 100;
}

.flex-billeder {
	display: flex;
	flex-wrap: nowrap;
	width: auto;
	height: auto;
	justify-content: center;
}

.billeder .cykel {
	width: 350px;
	height: 280px;
	margin: 50px 10px 75px 10px;
	border: 5px solid #fff;
	background-image: url(../images/nature-sunset-river-bicycle-17729.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.billeder .jazz {
	width: 350px;
	height: 280px;
	margin: 50px 10px 75px 10px;
	border: 5px solid #fff;
	background-image: url(../images/big-three-man-playing-drums-and-wind-instruments-in-front-of-1343331.jpg);
	background-size: cover;
	background-position: right;
	background-repeat: no-repeat;
}

.billeder .historie {
	width: 350px;
	height: 280px;
	margin: 50px 10px 75px 10px;
	border: 5px solid #fff;
	background-image: url(../images/white-church.jpg);
	background-size: cover;
	background-position: left;
	background-repeat: no-repeat;
}

/* Oplevelser Section endpoint */

/* Maps Section startpoint */

#maps-section {
	display: block;
	width: 100%;
	height: auto;
	margin: 0 auto;
	background-color: #feffe9;
	text-align: center;
	color: #000;
}

#maps-section h1 {
	display: block;
	margin: 2.5vw 0 0 0;
	font-size: 1.875rem;
	font-weight: 100;
}

#maps-section .title-line {
	width: 30%;
	height: 2px;
	background-color: #2F361F;
	margin: 5px auto 25px auto;
	;
}

#maps-section p {
	display: block;
	margin: 25px 0 0 0;
	font-size: 1.25rem;
	font-weight: 100;
}

#maps-section #map {
	display: block;
	top: 50px;
	height: 500px;
	width: 40%;
	margin: 0 auto 2.5vw auto;
	border: 1px solid #dddddd;
}

/* Maps Section endpoint */

/* Transport Section startpoint */

.info-transport {
	width: 100%;
	height: auto;
	margin: 7.5vw auto 0 auto;
	padding: 0 0 2.5vw 0;
	background-color: #8b9f43;
	text-align: center;
	color: #fff;
}

.transport-text h1 {
	padding: 2.5vw 0 0 0;
	font-size: 1.875rem;
	font-weight: 100;
}

.transport-text .title-line {
	width: 40%;
	height: 2px;
	background-color: #fff;
	margin: 5px auto 25px auto;
}

.transport-text p {
	padding: 2vw 0 2vw 0;
	font-size: 1.25rem;
	font-weight: 100;
}

.flex-faergerute {
	display: flex;
	flex-wrap: nowrap;
	width: 50%;
	height: auto;
	margin: 0 auto;
	background-color: #fff;
	color: #2F361F;
}

.transport-billede {
	background-image: url(../images/white-cruiser-ship-on-body-of-water-during-daytime-172920.jpg);
	background-size: cover;
	background-position: bottom;
	width: 50%;
}

.faerge-text {
	padding: 1.8vw;
	text-align: left;
}

.faerge-text h2 {
	font-size: 1.875rem;
	font-weight: 100;
}

.faerge-text p {
	font-size: 1rem;
	margin: 1vw 0 2vw 0;
}

/* Transport Section endpoint */

/* Følg Os Section startpoint */

#folg-os-section {
	display: block;
	width: 100%;
	height: auto;
	margin: 0 auto;
	background-color: #feffe9;
	text-align: center;
	color: #2F361F;
}

#folg-os-section .title-line {
	width: 50%;
	height: 2px;
	background-color: #2F361F;
	margin: 5px auto 25px auto;
}

.folg-os-h1 {
	padding: 2.5vw 0 2.5vw 0;
	font-size: 1.875rem;
	font-weight: 100;
	text-align: center;
}

.flex-folg-os {
	display: flex;
	flex-wrap: wrap;
}

/* INSTAGRAM styling startpoint*/

#instagram-testerbox {
	width: 300px;
	height: auto;
	margin: 0 0 20px;
}

/* INSTAGRAM styling endpoint */

.folg-os-text {
	width: 50%;
	margin: 0 50px 20px 100px;
}

.folg-os-text p {
	padding: 0 0 0 17vw;
	line-height: 5vh;
	font-size: 1.25rem;
	font-weight: 100;
}

#folg-os-section .title-line {
	width: 50%;
	margin: 0 auto 20px;
}

/* Følg Os Section endpoint */

/* Media Queries below - Tilpasning til Mobil- og Tabeletversion */

@media screen and (max-width: 1090px) {
	#hero-section h1 {
		line-height: initial;
		word-spacing: initial;
	}
	.billeder .cykel, .billeder .jazz, .billeder .historie {
		width: 350px;
		height: 280px;
		margin: 30px 10px 0px 10px;
	}
	.flex-billeder {
		flex-wrap: wrap;
	}
	#maps-section #map {
		top: 25px;
		height: 300px;
		width: 90%;
	}
	#instagram-testerbox {
		margin: 0 auto;
	}
	.folg-os-text {
		width: 51%;
		margin: 0 auto;
	}
	.folg-os-text p {
		padding: 0;
	}
}

@media screen and (max-width: 750px) {
	#hero-section, #hero-section .hero-container {
		height: 300px;
	}
	#hero-section h1 {
		transform: translate(-50%, -500%);
	}
	#oplevelser-section {
		padding: 2.5vw 0vw;
	}

	.main-scroll {
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
	}

	.intro-text p {
		font-size: 1.25rem;
	}
	.intro-logo {
		display: none;
	}
	.intro-text {
		width: 100%;
		padding-top: 30px;
	}
	.billeder .cykel, .billeder .jazz, .billeder .historie {
		width: 350px;
		height: 215px;
	}
	#maps-section #map {
		top: 25px;
		height: 300px;
		width: 90%;
	}
	.flex-faergerute {
		flex-wrap: wrap;
		width: 80%;
	}
	.faerge-text {
		height: 150px;
		text-align: center;
	}
	#instagram-testerbox {
		width: 50%;
	}

	.folg-os-text p {
		padding: 0;
		line-height: 1.5;
	}
}

@media screen and (max-width: 662px) {
	#hero-section h1 {
		transform: translate(-50%, -250%);
	}

	.main-scroll {
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
	}
}