@charset "utf-8";
/* CSS Document */

* {
	box-sizing: border-box;
	font-family: calibri;
}

html body {
	margin: 0;
	padding: 0;
}

h1 {
	font-size: 3rem;
}

h2 {
	font-size: 2.5rem;
}

h3 {
	font-size: 3rem;
}

p {
    font-size: 1.55rem;
    font-weight: 100;
}

.clearfix::after {
	content: "";
	clear: both;
	display: table;
  }

/* Links */
a {
	text-decoration: none;
	color: #d85448;
}

.line {
    /* The CURRENT PAGE has this Class */
    text-decoration: underline solid #d85448;
    text-decoration-thickness: 2px;
}
a:visited {
    color: #d85448;
}
a:hover {
	text-decoration: none;

    color: black;
}

/*-webkit-filter: saturate(8); */
/* filter: saturate(8); */


/* Main grid startpoint */

.grid {
	display: grid;
	grid-column-gap: auto;
	/*grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;*/
	grid-template-columns: 6,8% 6,8% 6,8% 6,8% 6,8% 6,8% 6,8% 6,8% 6,8% 6,8% 6,8% 6,8% 6,8% 6,8%;
	grid-column-gap: auto;
}

.nav-grid-items {
	/* ALL grid items in the NAV*/
	width: 100%;
	padding-top: 50px;
	font-size: 1.55rem;
	font-weight: 100;
	letter-spacing: 3px;
	text-transform: uppercase;
}

.nav-container {
	height: 122px;
}

.nav-grid-item1 {
	grid-column: 2/3;
}
.nav-grid-item2 {
	grid-column: 9/10;
}
.nav-grid-item3 {
	grid-column: 10/11;
}
.nav-grid-item4 {
	grid-column: 11/12;
}
.nav-grid-item5 {
	grid-column: 12/13;
}
.nav-grid-item6 {
	grid-column: 13/15;
}

.nav-container .nav-grid-item1 a img {
	max-height: 100px;
	margin-top: -40px;
	
}



/* Main grid endpoint */


/* Main styling startpoint */

/* Main styling endpoint */

/* Media Queries */