@charset "utf-8";
/* CSS Document */

* {
	box-sizing: border-box;
	font-family: calibri;
}

html body {
	margin: 0;
	padding: 0;
	/* incoming change */ background-color: #feffe9;
}

/* Text presets Startpoint */

h1 {
	font-size: 3rem;
}

h2 {
	font-size: 2.125rem;
}

h3 {
	font-size: 1.3125rem;
	padding-left: 5px;
	padding-top: 5px;
}

p {
    font-size: 1.3125rem;
	font-weight: 100;
	padding-top: 5px;
	padding-left: 5px;
	padding-right: 5px;

}

.small-font {
	font-size: 14px;
}
.clearfix::after {
	content: "";
	clear: both;
	display: table;
  }

  /* Text presets endpoint */

/* Links styleing startpoint */
a {
	text-decoration: none;
	color: #d85448;
}

.line {
    /* The CURRENT PAGE has this Class */
    text-decoration: underline solid #d85448;
    text-decoration-thickness: 2px;
}
a:visited {
    color: #d85448;
}
a:hover {
	text-decoration: none;

    color: black;
}

/* Links styleing endpoint */

/*-webkit-filter: saturate(8); */
/* filter: saturate(8); */


/* Main grid startpoint */

.grid {
	display: grid;
	grid-column-gap: auto;
	/*grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;*/
	grid-template-columns: 6.5% 6.5% 6.5% 6.5% 6.5% 6.5% 6.5% 6.5% 6.5% 6.5% 6.5% 6.5% 6.5% 6.5%;
	grid-column-gap: auto;
}

.nav-grid-items {
	/* ALL grid items in the NAV*/
	width: 100%;
	padding-top: 50px;
	/* incoming change*/font-size: 1.2vw;
	/* OLD  font-size: 1.55rem;*/
	font-weight: 100;
	letter-spacing: 3px;
	text-transform: uppercase;
}

.nav-container {
	height: 96px;
}

.nav-grid-item1 {
	grid-column: 2/3;
}
.nav-grid-item2 {
	grid-column: 5/7;
}
.nav-grid-item3 {
	grid-column: 7/9;
}
.nav-grid-item4 {
	grid-column: 9/11;
}
.nav-grid-item5 {
	grid-column: 11/13;
}
.nav-grid-item6 {
	grid-column: 13/15;
}
.nav-grid-item7 {
	grid-column: 15/16;
}

.nav-container .nav-grid-item1 a img {
	max-height: 96px;
	margin-top: -40px;
	background-color: #fff;
	border-radius: 50%;
}


#vejrAPI {
	background-color: rgb(255, 255, 255);
   }
   
   
   
   .temp {
	   display: inline-block;
	   float: left;
	   width: 60px;
   }
   
   .temp p {
	   font-size: 1.3rem;
	   color: #2F361F;;
   }
   
   .tempIcon {
	   display: inline-block;
	   float: left;
	   width: 50px
   }
   
   .tempIcon img {
	   margin-top: -14px;
   }


   .title-line {
    width: 100%;
    height: 2px;
    background-color: #2F361F;
    margin-top: 5px;
    margin-bottom: 25px;
}

/* Main grid endpoint */


/* Footer styling startpoint */

footer {
	display: block;
	width: 100%;
	height: 50px;
	background-color: #dfd25f;
}

.flex-footer {
	display: flex;
	flex-wrap: nowrap;
}

.left-side-footer {
	width: 50%;
	padding: 15px 0 0 15px ;
}

.right-side-footer {
	width: 50%;
	padding: 15px 15px 0 0;
}

.right-side-footer p {
	float: right;
}

.right-side-footer a {
	margin: 0 0 0 50px;
	float: right;
	color: #000;
}

.right-side-footer a:hover {
	color: #d85448;
}

.fab {
	font-size: 25px;
}

/* Footer styling endpoint */

/* Media Queries */