@charset "utf-8";
/* CSS Document */

* {
	box-sizing: border-box;
}

html body {
	margin: 0;
	padding: 0;
}

/* Navigation Bar styling startpoint */
...
/* Navigation Bar styling endpoint */

/* Footer styling startpoint */
...
/* Footer styling endpoint */

/* Media Queries */

@media screen () {

}