@charset "utf-8";
/* CSS Document */

#oplevelser-title-section {
    height: 536px;
    
}

#oplevleser-title-section .showcase-title-container {
    height: 100%;
    
}

.title-grid-items {
	/* ALL grid items*/
	width: 100%;
	
}

.title-grid-item1 {
	grid-column: 3/5;
}
.title-grid-item2 {
	grid-column: 7/11;
}