@charset "utf-8";
/* CSS Document */

header .hero-all-container {
    height: 404px;
        overflow: hidden;
        background-size: cover;
        background-position: center;
        
}


#oplevelser-title-section {
    height: 536px;
    padding-top: 138px;
    
}

#oplevleser-title-section .showcase-title-container {
    height: 100%;
    
}

.title-grid-items {
	/* ALL grid items*/
	width: 100%;
	
}

.title-grid-item1 {
	grid-column: 3/5;
}
.title-grid-item2 {
	grid-column: 7/11;
}

.title-grid-item1 img {
	transform: translate(50%, 50%);
}



.title-grid-items h2 {
text-align: center;
color: #2F361F;
}
.title-grid-items p {
    text-align: center;
    color: #2F361F;
    }
               
    .title-line {
        width: 100%;
        height: 2px;
        background-color: #2F361F;
        margin-bottom: 45px;
    }

    .menu-container {
        height: 1032px;
        /*background-color: black;*/
    }
    .menu-container .menu-grid-item1 {
        grid-column: 3/6;
       /* background-color: lawngreen; */
    }
    .menu-container .menu-grid-item2 {
        grid-column: 6/12;
       /* background-color: red; */
    }
   .menuOptions{
        height: 258px;
        width: 270px;
        margin: 0 auto;
        background-color: white;
        display: none;
    }

    .show {
        display: block;
      }

    .menu-container .menuOptions img{
        height: 135px;
        width: 100%;
        
    }

    .menu-container .menuOptions p{
        
    }
    .menu-container .menu-filter{
        display: flex;
        flex-direction: wrap;
    }
    .menu-container .filter-btn{
        height: 68px;
        width: 135px;
        background-color: white;
        border: 1px solid #707070;
        margin: 0 5px 13px 0;
        font-size: 1.75rem;
        padding-top: 5px;
        text-align: center;
        color: #2F361F;
        
    }

    .menu-container .filter-btn:hover {
        background-color: #ddd;
      }
      
      /* Add a dark background to the active button */
      .menu-container .filter-btn.active {
        background-color: #666;
        color: white;
      }

    .menu-container .menu-map{
        height: 400px;
        width: 38.5vw;
        background-color: blue;
    }

    /* --- STIKY MAP CLASS START! ---*/

    .sticky {
            position: fixed;
            top: 0;
            width: 38.5vw;
            
            margin-top: 10px;

            
    }

    /* --- STIKY MAP CLASS SLUT! ---*/
#info-section {
    width: 100%;
    height: 7010px;
    background-color: #8B9F43;
}

#info-section .info-container .info-grid-item1 {
    grid-column: 3/6;
}

